version: '3.8'

services:
  web:
    build: .
    container_name: web
    ports:
      - "5000:5000"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DB: devops
    networks:
      - mynet
    restart: always
    depends_on:
      - mysql  
  mysql:
    image: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
        - "3306:3306"
    networks:
      - mynet
    volumes:
      - myvo:/var/lib/mysql
      - ./message.sql:/docker-entrypoint-initdb.d/message.sql  
    restart: always  
        
volumes:
    myvo:

networks:
    mynet:


