version: "3.8"
services:
  mainapp:
    build: 
      context: .
    container_name: expense
    environment:
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/expense?allowPublicKeyRetrieval=true&useSSL=false"
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8081:8080"
    networks:
      - mynet
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: expense
    ports:
      - "3306:3306"  
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./sql_script.sql:/docker-entrypoint-initdb.d/sql_script.sql
    networks:
      - mynet
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost","-uroot","-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: always

  
networks:
  mynet:

volumes:
  mysql-data: